/* general styles */
:root {
    box-sizing: border-box;
    --system-font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--system-font-stack);
    display: flex;
    margin: 0;
    background: center url(../img/cw-bg.jpg);
    background-size: cover;
}

.left,
.right {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body,
a {
    color: white;
}

a:hover {
    color: rgb(255, 0, 255);
}

/* left side styles */
.left {
    width: 40%;
    position: relative;
    z-index: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    gap: 16px;
    padding: 16px;
}

h1 {
    font-family: 'Orbitron', var(--system-font-stack);
    font-size: 48px;
    margin: 0;
}

.logo {
    width: 96px;
    flex-shrink: 0;
}

.logo>img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    display: block;
}

footer {
    margin-top: auto;
    padding: 16px;
    text-align: center;
}

header,
footer {
    background-color: rgba(0, 0, 0, 0.4);
}

/* right side styles */
.right {
    width: 60%;
    justify-content: flex-start;
    gap: 24px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.form-description {
    margin-top: 10vh;
}

.form-description p {
    max-width: 52ch;
    font-size: 22px;
}

.form-description,
fieldset,
.form-submit {
    padding-left: 48px;
}

fieldset {
    margin: 0;
    background-color: rgba(46, 36, 74, 0.8);
    border: none;
}

h2 {
    margin: 24px 0;
}

.row {
    display: flex;
    gap: 64px;
    margin-bottom: 24px;
}

.row label,
.row input {
    display: block;
}

.row label {
    font-size: 12px;
}

label:not([for='user-phone'])::after {
    content: " *";
    color: red;
}

.row input {
    height: 28px;
    width: 250px;
    border-radius: 4px;
    border: none;
    padding: 0 8px;
}

.row input::placeholder {
    color: rgb(188, 188, 188);
    font-weight: bold;
}

.row input.not-matching {
    outline: solid 2px red;
}

.row input:invalid {
    outline: 2px solid red;
}

.row input:focus {
    outline: 2px solid rgb(255, 0, 255);
}

.row input:placeholder-shown {
    outline: none;
}

.form-submit button {
    background-color: purple;
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.05s ease-in-out;
}

.form-submit button:hover {
    background-color: white;
    color: purple;
}

.form-submit button:active {
    box-shadow: inset 0 0 5px black;
}